<div class="post-conteiner" id = {{data.id}}>
    <div class="post-ikon-header">
        <div class="post-title">
            {{data.title}}
        </div>
        <div class="post-autor">
            {{data.autor}}
        </div>
        <div class="post-data">
            {{data.exhibition_date}}
        </div>
    </div>
    <div class="post-message">
        {{data.description}}
    </div>
    <div class="post-ikon-comments">
        <section class="all-comments">
            {{#each comments}}
                <div class="comment-conteiner">
                    <div class="comment-body">
                        {{message}}
                    </div>
                    <div class="comment-footer">
                        <div class="comment-autor">
                            {{autor}}
                        </div>
                        <div class="comment-exh-date">
                            {{exhibition_date}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </section>
        <section id="app">
            <div class="commnet-input-container">
                <div>
                    <div>
                        <textarea type="text" class="input comment-input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                        <button class='primaryContained float-right add-comment-button' type="submit">Add Comment</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>